

<ion-header>
  <ion-toolbar>
    <div class="textUpload">
      <ion-title>Vender Libro</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentUpload" style="padding: 50px;">
    <form (ngSubmit)="newBook(newBookForm.value)" [formGroup]="newBookForm">

      <ion-item lines="none">
        <ion-label position="fixed">Nombre</ion-label>
        <ion-input type="text" id="nombre" formControlName="nombre" placeholder="Nombre del libro" required></ion-input>
      </ion-item><br>

      <ion-item lines="none">
        <ion-label for="estado">Estado</ion-label>
        <ion-select interface="custom-options" class="custom-options" name="estado" id="estado" formControlName="estado">
          <ion-select-option value="nuevo">Nuevo</ion-select-option>
          <ion-select-option value="Usado (como nuevo)">Usado (como nuevo)</ion-select-option>
          <ion-select-option value="Usado (buen estado)">Usado (buen estado)</ion-select-option>
          <ion-select-option value="Usado (aceptable)">Usado (aceptable)</ion-select-option>
        </ion-select>
      </ion-item><br>

      <ion-item lines="none">
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea id="descripcion" formControlName="descripcion" placeholder="Ingresa descripción del libro"></ion-textarea>
      </ion-item><br>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" [disabled]="!newBookForm.valid">Publicar</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>