<!-- <ion-header>
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="containerCol">
      <img src="../../../assets/icon/logo2.png" alt="ICON">
      <h1>Bienvenido a<br>ECO-BOOKS</h1>
      <div class="containerRow">
        <button routerLink="/login" routerLinkActive="router-link-active" class="pink">Iniciar Sesión</button>
        <button routerLink="/register" routerLinkActive="router-link-active" class="white">Registrarse</button>
      </div>
    </div>
</ion-content>
