ion-slides{
    background-color: rgba(2, 68, 122, 0.151);
    //background-color: rgba(192, 192, 192, 0.507);
}

.slide{
    margin: 15px;
}

img{
    height: 10rem;
    width: 30rem;
}

hr{
    background-color: rgba(192, 192, 192, 0.507);
}

h4, h1{
    text-align: center;
    color: rgba(0, 0, 0, 0.719);
}