@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.nombre{
    font-size: 4.5vw;
    font-weight: 800;
    color: rgba(171, 207, 219, 0.76);
    text-align: center;
}
.vendedor{
    font-size: 4vw;
    font-weight: 800;
}
.titulo{
    font-size: 6vw;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    color: #97a0a8;
    text-align: center;
}
p{
    font-size: 4vw;
}

ion-title{
    padding-top: 20px;
    padding-bottom: 20px;
}