ion-slides{
    background-color: rgba(2, 68, 122, 0.151);
    //background-color: rgba(192, 192, 192, 0.507);

}

.slide{
    margin: 15px;
}

img{
    height: 10rem;
    width: 30rem;
}

hr{
    background-color: rgba(192, 192, 192, 0.507);
}

h4, h1{
    text-align: center;
    color: rgba(0, 0, 0, 0.719);
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 20vw;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #f3e0ec;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #648fb5;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
 
  color:#65b1a2;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(4) {
    color: #d64c92;
    animation: colordancing2 4s infinite;
  }
  .error-container > span:nth-of-type(5) {
    color: #40464b;
    animation: colordancing2 4s infinite;
  }
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.titulo{
    text-align: center;
    font-size: 25px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    margin: 20px 15px;
    color: #40464b;
}