<ion-header>
  <ion-toolbar>
    <ion-title>books</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="books.length==0 ">
    <br>
    <h1>No hay libros disponibles D':</h1>
</div>

        <ion-card class="speaker-card" *ngFor="let book of books">

          <ion-card-header>
              {{book.data.nombre}}
          </ion-card-header>

          <ion-card-content>
                <h3>Nivel: {{book.data.nivel}}</h3>
                <h3>Precio: ${{book.data.precio}}</h3>
          </ion-card-content>

        </ion-card>
      <!-- 
            {{book.id}}
            <h3>Nombre: {{book.data.nombre}}</h3>
            <h3>Estado: {{book.data.estado}}</h3>
            <h3>Descripcion: {{book.data.descripcion}}</h3>
            <h3>Idioma: {{book.data.idioma}}</h3>
            <h3>Nivel: {{book.data.nivel}}</h3>
            <h3>Editorial: {{book.data.editorial}}</h3>
            <h3>Precio: ${{book.data.precio}}</h3>
       -->
</ion-content>
